<h4>Formularios <small> por template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(miForm)" #miForm="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [class.is-invalid]="!inputNombre.valid && inputNombre.touched"
               [ngModel]="usuario.nombre"
               required 
               minlength="2" 
               placeholder="Nombre"
               #inputNombre="ngModel">
        <small class="form-text text-danger" *ngIf="!inputNombre.valid && inputNombre.touched">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [class.is-invalid]="!inputApellido.valid && inputApellido.touched"
               [ngModel]="usuario.apellido"
               required 
               minlength="2" 
               placeholder="Apellido"
               #inputApellido="ngModel">
               <small class="form-text text-danger" *ngIf="!inputApellido.valid && inputApellido.touched">Ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             [class.is-invalid]="!inputEmail.valid && inputEmail.touched"
             [ngModel]="usuario.email"
             required 
             minlength="2" 
             name="email" 
             #inputEmail="ngModel">
             <small class="form-text text-danger" *ngIf="!inputEmail.valid && inputEmail.touched">Ingrese un correo válido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
        <select 
          name="paises" 
          class="form-control" 
          required 
          [class.is-invalid]="!selectPaises.valid && selectPaises.touched"
          [ngModel]="usuario.pais"
          minlength="2"
          #selectPaises="ngModel"
        >
          <option *ngFor="let pais of arrayPaises" [value]="pais.codigo">{{pais.nombre}}</option>
        </select>
        <small class="form-text text-danger" *ngIf="!selectPaises.valid && selectPaises.touched">Seleccione un país</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="input-group col-md-8">
      <div class="form-check form-check-inline">
        <input type="radio" 
               name="genero" 
               [ngModel]="usuario.genero" 
               class="form-check-input" 
               [class.is-invalid]="genero.invalid && genero.touched"
               value="m"
               required
               #genero="ngModel">
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" 
               name="genero" 
               [ngModel]="usuario.genero"
               [class.is-invalid]="genero.invalid && genero.touched"
               class="form-check-input" 
               value="f"
               required
               #genero="ngModel">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
